<!-- partials/header.html -->
<header class="topbar" role="banner">
    <button id="hamburgerBtn" class="icon-btn" aria-label="Menu" aria-controls="sidemenu"
        aria-expanded="false">☰</button>
    <div class="brand"><strong>Landingspagina JO</strong></div>
    <nav class="header-icons" id="quickLinks" aria-label="Snelkoppelingen"></nav>
</header>

<!-- Topmenubalk met neon-tekst -->
<nav class="mainnav" aria-label="Hoofdmenu">
    <ul>
        <li><a class="menu-link" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" data-newtab><span
                    class="label">Email</span></a></li>
        <li><a class="menu-link" href="https://drive.google.com/drive/u/0/my-drive" data-newtab><span
                    class="label">Drive</span></a></li>
        <li><a class="menu-link" href="https://calendar.google.com/calendar/u/0/r" data-newtab><span
                    class="label">Agenda</span></a></li>
        <li><a class="menu-link" href="https://optech-jo.web.app/" data-newtab><span
                    class="label">optech Site</span></a></li>

        <!-- Verdi -->
        <li class="has-submenu">
            <a class="menu-link" href="#" aria-haspopup="true" aria-expanded="false"><span
                    class="label">Verdi</span></a>
            <ul class="submenu">
                <li class="has-submenu">
                    <a href="#" aria-haspopup="true" aria-expanded="false">Web</a>
                    <ul class="submenu">
                        <li><a href="https://disparant.verdi.cloud/" data-newtab>Live</a></li>
                        <li><a href="https://disparant-staging.verdi.cloud/home" data-newtab>Staging</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#" aria-haspopup="true" aria-expanded="false">Mobile</a>
                    <ul class="submenu">
                        <li><a href="https://mobile-disparant.verdi.cloud/login" data-newtab>Live</a></li>
                        <li><a href="https://mobile-disparant-staging.verdi.cloud/login" data-newtab>Staging</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <!-- Ticketing systeem -->
        <li class="has-submenu">
            <a class="menu-link" href="#" aria-haspopup="true" aria-expanded="false"><span class="label">Ticketing
                    systeem</span></a>
            <ul class="submenu">
                <li><a href="https://brandweerzonerand.freshservice.com/a/dashboard/default" data-newtab>Optech</a></li>
                <li><a href="https://youtrack.verdi.be/" data-newtab>Verdi</a></li>
                <li><a href="#" data-newtab>Abi</a></li>
            </ul>
        </li>

        <!-- Ina -->
        <li class="has-submenu">
            <a class="menu-link" href="#" aria-haspopup="true" aria-expanded="false"><span class="label">Ina</span></a>
            <ul class="submenu">
                <li class="has-submenu">
                    <a href="#" aria-haspopup="true" aria-expanded="false">Applicatie</a>
                    <ul class="submenu">
                        <li><a href="https://hvzrand.ina.gemsotec.com" data-newtab>Live</a></li>
                        <li><a href="https://hvzrandacc.ina.gemsotec.com" data-newtab>Acc</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#" aria-haspopup="true" aria-expanded="false">Keycloak</a>
                    <ul class="submenu">
                        <li><a href="https://hvzrand.ina.gemsotec.com/admin/#/events" data-newtab>Live</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#" aria-haspopup="true" aria-expanded="false">Keycloak - NEW</a>
                    <ul class="submenu">
                        <li><a href="https://keycloak.ina.gemsotec.com/auth/admin/hvzrand/console/" data-newtab>Live</a>
                        </li>
                        <li><a href="https://keycloak.ina.gemsotec.com/auth/admin/hvzrandacc/console/"
                                data-newtab>Acc</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <!-- Abi -->
        <li class="has-submenu">
            <a class="menu-link" href="#" aria-haspopup="true" aria-expanded="false"><span class="label">Abi</span></a>
            <ul class="submenu">
                <li><a href="https://www.ambuweb.be/" data-newtab>Ambuweb</a></li>
                <li class="has-submenu">
                    <a href="#" aria-haspopup="true" aria-expanded="false">Abiweb</a>
                    <ul class="submenu">
                        <li><a href="https://abiweb.zonerand.be/" data-newtab>Live</a></li>
                        <li><a href="https://testabiweb.zonerand.be/" data-newtab>Testomgeving</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>


<!-- Uitklapbare zijmenu -->
<aside id="sidemenu" class="sidemenu" aria-hidden="true" data-state="closed">
    <nav class="sidemenu-section">
        <h4>Links Zone Rand</h4>
        <ul>
            <li><a href="https://zonerand.be" data-newtab>Zone Rand</a></li>
            <li><a href="https://sites.google.com/brandweer.zonerand.be/transparand/homepage" data-newtab>Transparand</a></li>
            <li><a href="https://sites.google.com/brandweer.zonerand.be/modusoperandi" data-newtab>Modus operandi</a></li>
            <li><a href="https://sites.google.com/brandweer.zonerand.be/vto-post-kontich/homepage" data-newtab>Site VTO Kontich</a></li>
        </ul>
    </nav>

    <nav class="sidemenu-section">
        <h4>OPTECH</h4>
        <ul>
            <li><a href="https://trello.com" data-newtab>Trello</a></li>
            <li><a href="https://www.teamviewer.com" data-newtab>Teamviewer</a></li>
            <li><a href="https://www.crashrecoverysystem.com/extranet/index.php?menu=customer_administration&action=edit_site_license_clients" data-newtab>Modutech</a></li>
            <li><a href="https://drive.google.com/drive/folders/13cYou5JVF10MMjTVVE9X7Wx-w43ov_4D" data-newtab>Map veelgebruikte documenten</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1t-zr3UwLZ_qwXws47-3jz9H6u5-_s98UL73PYbIPSEU/edit?gid=1670678363#gid=1670678363" data-newtab>Master doc devices</a></li>
            <li><a href="https://central.samsungknox.com/uspcommon/dashboard" data-newtab>Samsung KNOX</a></li>
        </ul>
    </nav>

    <nav class="sidemenu-section">
        <h4>Interessante links</h4>
        <ul>
            <li><a href="https://www.brandweerkennisnet.nl" data-newtab>kennisbank brandweer</a></li>
            <li><a href="https://kiosk.id.nl/magazines" data-newtab>tijdschrift Computer</a></li>
        </ul>
    </nav>

    <nav class="sidemenu-section">
        <h4>Apps</h4>
        <ul>
            <li><a href="https://www.appsheet.com/start/504ba865-3785-4c6b-a33c-9d5edf2d3962" data-newtab>Optech</a>
            </li>
            <li><a href="https://www.appsheet.com/start/218e57f1-032f-4480-8b55-b2a38e944fef" data-newtab>Magazijn Regio
                    Zuid</a></li>
        </ul>
    </nav>
</aside>
<div id="sidemenu-backdrop" hidden></div>

