<header class="topbar" role="banner">
    <button id="hamburgerBtn" class="icon-btn" aria-label="Menu" aria-controls="sidemenu" aria-expanded="false">☰</button>
    
    <div class="brand" id="brandLogo" style="cursor: pointer;" title="Terug naar Dashboard">
        <strong>JD Landingspagina</strong>
    </div>
    
    <nav class="header-icons" id="quickLinks" aria-label="Snelkoppelingen"></nav>
</header>

<nav class="mainnav" aria-label="Hoofdmenu">
    <ul>
        <li><a class="menu-link" href="https://mail.google.com/mail/u/0/" data-newtab><span class="label">Email</span></a></li>
        <li><a class="menu-link" href="https://drive.google.com/drive/u/0/my-drive" data-newtab><span class="label">Drive</span></a></li>
        <li><a class="menu-link" href="https://calendar.google.com/calendar" data-newtab><span class="label">Agenda</span></a></li>
        <li><a class="menu-link" href="https://optech-jo.web.app/" data-newtab><span
                    class="label">optech Site</span></a></li>
        

       
        <!-- Verdi -->
        <li class="has-submenu">
            <a class="menu-link" href="#" aria-haspopup="true" aria-expanded="false"><span
                    class="label">Verdi</span></a>
            <ul class="submenu">
<li><a href="https://disparant.verdi.cloud/" data-newtab>Verdi web Live</a></li>
<li><a href="https://disparant-staging.verdi.cloud/home" data-newtab>Verdi web Staging</a></li>
<li><a href="https://mobile-disparant.verdi.cloud/login" data-newtab>Verdi Mobile Live</a></li>
                        <li><a href="https://mobile-disparant-staging.verdi.cloud/login" data-newtab>Verdi Mobile Staging</a></li>
            </ul>
        </li>

        <!-- Ticketing systeem -->
        <li class="has-submenu">
            <a class="menu-link" href="#" aria-haspopup="true" aria-expanded="false"><span class="label">Ticketing
                    systeem</span></a>
            <ul class="submenu">
                <li><a href="https://brandweerzonerand.freshservice.com/a/dashboard/default" data-newtab>Optech</a></li>
                <li><a href="https://youtrack.verdi.be/" data-newtab>Verdi</a></li>
                <li><a href="#" data-newtab>Abi</a></li>
            </ul>
        </li>

        <!-- Ina -->
        <li class="has-submenu">
            <a class="menu-link" href="#" aria-haspopup="true" aria-expanded="false"><span class="label">Ina</span></a>
            <ul class="submenu">

                <li><a href="https://hvzrand.ina.gemsotec.com" data-newtab>INA Live</a></li>
                <li><a href="https://hvzrandacc.ina.gemsotec.com" data-newtab>INA Staging</a></li>
                <li><a href="https://hvzrand.ina.gemsotec.com/admin/#/events" data-newtab>INA admin Live</a></li>
                <li><a href="https://hvzrandacc.ina.gemsotec.com/admin/#/events" data-newtab>INA admin Staging</a></li>      
                <li><a href="https://keycloak.ina.gemsotec.com/auth/admin/hvzrand/console/" data-newtab>INA Keykloack Live</a>
                </li>
                <li><a href="https://keycloak.ina.gemsotec.com/auth/admin/hvzrandacc/console/"
                                data-newtab>INA Keykloack Staging</a></li>
            </ul>
        </li>

        <!-- Abi -->
        <li class="has-submenu">
            <a class="menu-link" href="#" aria-haspopup="true" aria-expanded="false"><span class="label">Abi</span></a>
            <ul class="submenu">
                <li><a href="https://www.ambuweb.be/" data-newtab>Ambuweb</a></li>
                <li><a href="https://abiweb.zonerand.be/" data-newtab>Abiweb Live</a></li>
                        <li><a href="https://testabiweb.zonerand.be/" data-newtab>Abiweb Staging</a></li>
            </ul>
        </li>
    </ul>
</nav>

<aside id="sidemenu" class="sidemenu" aria-hidden="true" data-state="closed">
    

</aside>
<div id="sidemenu-backdrop" hidden></div>